@if (onInitFinished) {
<div class="container">
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-primary" routerLink="create">
                Add Department
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Department ID</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Employee Count</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (departments.length > 0) {
                @for(department of departments; track department.departmentId) {
                <tr>
                    <td>{{department.departmentId}}</td>
                    <td>{{department.departmentName}}</td>
                    <td>{{department.employees.length}}</td>
                    <td>
                        <a class="btn btn-sm btn-link" [routerLink]="['./detail', department.departmentId]">View</a>
                        <a class="btn btn-sm btn-link" [routerLink]="['./edit', department.departmentId]">Edit</a>
                        <a class="btn btn-sm btn-link" (click)="openModal(department.departmentId, department.departmentName, department.employees)">Delete</a>
                    </td>
                </tr>
                }
                } @else {
                <tr>
                    <td colspan="4">No department records</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    @if (onDeleted) {
    <alert type="success">
        Department has been deleted successfully.
    </alert>
    }
</div>
}
@else {
<p>Loading...</p>
}