@page
@model dotnet8_practice_razor.client.Pages.Employee.DetailModel

<script type="text/javascript">
    function openModal() {
        const pageModal = new bootstrap.Modal("#modalEmployeeCallback", { keyboard: false });
        pageModal.show();
    }
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Personal Particulars
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @await Html.PartialAsync("_DetailEmployeePersonalInfo", Model.EmployeeDetailModel)
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Employment Information
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @await Html.PartialAsync("_DetailEmployeeEmploymentInfo", Model.EmployeeDetailModel)
                    </div>
                </div>
            </div>
        </div>
        <form asp-page="Index" method="get">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary mt-2">Return</button>
        </form>
    </div>
</div>

@if (TempData["EmployeeDetailCallback"] != null)
{
    <div class="modal fade" id="modalEmployeeCallback" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@TempData["EmployeeDetailCallback"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <img src onerror="openModal();"> // hack to open modal
}