html,
body {
    // height: 100%;
    overflow-y: scroll;
}

.form-signin {
    max-width: 330px;
    height: auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin-big {
    max-width: 660px;
}