@model dotnet8_hrapp_razor.client.Models.Department.DepartmentDetailModel
@{
    Layout = null;
}

<div class="container">
    <div class="row mb-4">
        <div class="col-sm-4">
            <label asp-for="Id" class="fw-bold"></label>
            <div class="fw-normal">
                @Model.Id
            </div>
        </div>
        <div class="col-sm-4">
            <label asp-for="Name" class="fw-bold"></label>
            <div class="fw-normal">
                @Model.Name
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-4">
            <label asp-for="TotalSalary" class="fw-bold"></label>
            <div class="fw-normal">
                $@Model.TotalSalary.ToString("F2")
            </div>
        </div>
        <div class="col-sm-4">
            <label asp-for="AverageSalary" class="fw-bold"></label>
            <div class="fw-normal">
                $@Model.AverageSalary.ToString("F2")
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-4">
            <label asp-for="EmployeeCount" class="fw-bold"></label>
            <div class="fw-normal">
                @Model.EmployeeCount
            </div>
        </div>
    </div>
</div>