@if (onInitFinished) {
<div class="container">
  <div *appHasRole="['Admin']" class="row">
    <div class="col-2">
      <button type="button" class="btn btn-primary" routerLink="create">
        Add Employee
      </button>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Employee Department</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (employees.length > 0) {
        @for(employee of employees; track employee.id) {
        <tr>
          <td>{{employee.id}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.departmentName}}</td>
          <td>
            <a class="btn btn-sm btn-link" [routerLink]="['./detail', employee.id]">View</a>
            <a *appHasRole="['Admin']" class="btn btn-sm btn-link" [routerLink]="['./edit', employee.id]">Edit</a>
            <a *appHasRole="['Admin']" class="btn btn-sm btn-link"
              (click)="openModal(employee.id, employee.name)">Delete</a>
          </td>
        </tr>
        }
        } @else {
        <tr>
          <td colspan="4">No employee records</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if (onDeleted) {
  <alert type="success">
    Employee information has been deleted successfully.
  </alert>
  }
</div>
}